.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Ignore Config & Logging
/Config/config_general.json
/Config/config_paths_map.json
/Config/config_scriptmessage.json
/Logging
