.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Ignore Config & Logging & CSV Export Folders
/M365 Teams Sync/Config/config_general.json
/M365 Teams Sync/Config/config_group_team_mapping.json
/M365 Teams Sync/Config/config_remove_account_exclusions.json
/M365 Teams Sync/Logging
