.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Ignore Config & Logging & CSV Export Folders
/Config/config_general.json
/Config/config_group_team_mapping.json
/Config/config_remove_account_exclusions.json
/Logging
